body {
    background: #333;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
    color: white;
}

h1, h2, h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    padding: 1em 0;
}

p {
    margin: 0;
    padding: 1em 1em;
}

.header .bgImage{
    position: absolute;
    width: 100%;
    height: 450px;
    background:url(https://static.pexels.com/photos/248515/pexels-photo-248515.png)  no-repeat center;
    background-size: cover;
    z-index: -1;
    opacity: 0.4;
}

.content {
    display: block;
    position: relative;;
}

.content h1 {
    padding: 0;
    margin: 3em 25% 0;
    display: inline-block;
    font-size: 2em;

}

.content p {
    margin: 0 25%;
    display: inline-block;
    line-height: 1.5;
}

.lnkBtn {
    display: inline-block;
    padding: 1em 2em;
    border: 1px solid #666;
    background: #333;
    text-decoration: none;
    color: white;
    margin: 1em 25%  7em;

}

.lnkBtn:hover {
    background: white;
    color: #333;
}



.articleH {
    display: block;
    color: #333;
    width: 100%;
    background: #eaeaea;
    z-index: -1;

}

.articleH h2 {
    margin:0 25%;
    display: inline-block;
}

.articleH p {
    margin: 0 25% 1em;
    display: inline-block;
    columns: 2
}

.solutions {
    display: block;
    width: 100%;
    padding: 2em 0;
    background-color: #333;

}

.solutions ul {
    display: inline-block;
    list-style: none;
    padding: 0;
}



.solutions li {
    display: inline-block;
    background-color: white;
    color: #333;
    margin: 0 1em 0 0;
    width: 15%;
}




.solutions ul li img {
    width: 100%;
    height: 35%;
}

.solutions li div p {
    margin: 0;
    padding: 0 1em 3em;
}



.articleF {
    background: #eaeaea;
    display: block;
    color: #333;
    width: 100%;
    z-index: -1;

}


.articleF h2 {
    margin: 0 25%;
    display: inline-block;
}

.articleF  p {

    margin: 0 25% 1em;
    display: inline-block;

}


.aboutUs {
    display: block;
}

.aboutUs div {
    display: inline-block;
    width: 49.8%;
    padding: 0 0 2em;

}



.aboutUs div:last-child p {
    padding: 1em 1em 0;
}

.aboutUs div:last-child #spacer {
   padding: 0.5em 1em 0;
}


.aboutUs div:first-child {
    background-color: #2690d4;
}

.aboutUs div h3{
    padding: 2.5em 0 1em;
}



.footer {
    padding: 2em;
    background: #000000;
    color: white;
    line-height: 1.5;
}

.footer div{
    display: inline-block;
    width: 49.8%;
}



.footer a {
    text-decoration: none;
    color: mediumblue;
}




